p {
  position: relative;
}

p span {
  position: relative;
}


body {
    background-color: goldenrod;
}

h1 {
    box-sizing: border-box;
    background-color: darkgrey;
    border-bottom: 4px solid brown;
    text-align: center;
}

h2 {
    color:brown;
    position: relative;
}

img {
    position: relative;
}

a span {
  position: relative;
}

.mini-heading {
    font-size: x-large;
    position: relative;
    font-weight: bold;
    color:brown;
}

/*CSS of box-center-left-right from your divs, boxes, bootstrap.mkv video.*/

.box-center {
    position: relative;
    text-align: center;
    margin: 20px
}

#box-center {
  position: relative;
  left: 32%;
  margin: 20px
}

#box-center2 {
  position: relative;
  left: 35%;
  margin: 20px
}

#box-center3 {
  position: relative;
  left: 30%;
  margin: 20px
}

#box-center4 {
  position: relative;
  left: 29%;
  margin: 20px
}


.box-left {
    position: relative;
    left: 20px
}

#box-left {
  position: relative;
  left: 20px
}

.box-right {
    position: relative;
    right: 20px;
    float: right;
    text-align: right;
}

#box-right {
  position: relative;
  right: 2%;
  float: right;
}

.pborder {
  border: solid 4px brown;
  padding: 6px
}

.pdorder {
  border: dashed 4px brown;
  padding: 6px
}

#bcorner {
  border-left: solid 3px brown;
  background-color: rgb(251, 215, 172);
  padding: 2px;
}

/*CSS below mostly from https://blog.hubspot.com/website/html-dropdown*/
.dropbtn {
    background-color: #333;
    color: white;
    font-size: 16px;
    border: none;
  }

.dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    z-index: 1;
    background-color: #333;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }

  .dropdown:hover .dropdown-content {
    display: inline-block;
  }
  
  .dropdown-content a {
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: brown;
  }

  /*CSS below mostly from https://www.w3schools.com/css/css_navbar_horizontal.asp*/

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  
  li {
    float: left
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    color:brown
  }
  
  .active {
    background-color: darkgrey;
  }

  hr {
    color:brown;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }