body {
    background-color: goldenrod;
}

.box-center {
    position: relative;
    text-align: center;
    width: 50%;
    left: 25%

}

.box-left {
    position: absolute;
    left: 20px
}

.box-right {
    position: absolute;
    right: 20px;
}